@model TenantSystem.Models.TenantPayment

@{
    ViewBag.Title = "Edit Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="page-header">
        <h3>Edit Payment of @ViewBag.TenantName</h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="editor-label">
                @Html.LabelFor(model => model.Amount)                
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Amount)
                @Html.ValidationMessageFor(model => model.Amount)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DateOfPayment)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DateOfPayment)
                @Html.ValidationMessageFor(model => model.DateOfPayment)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Comments)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Comments)
                @Html.ValidationMessageFor(model => model.Comments)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PaymentType)
            </div>
            <div class="editor-field">
                @Html.DropDownList("PaymentType", (IEnumerable<SelectListItem>)ViewBag.PaymentType)
                @Html.ValidationMessageFor(model => model.PaymentType)
            </div>            

                <p class="button-margin">
                    <input type="submit" value="Update Payment" class="btn btn-lg btn-primary" />
                </p>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
