@model IEnumerable<TenantSystem.Models.Tenant>

@{
    ViewBag.Title = "Tenants";
}

<ul>
    <li>@Html.ActionLink("Add Tenant", "AddTenant")</li>
    <li>@Html.ActionLink("Show Tenant Details", "ShowTenants")</li>
    <li>@Html.ActionLink("Add Tenant Meter Reading", "AddTenantMeterReading")</li>
    <li>@Html.ActionLink("Add Tenant Payment", "AddTenantPayment")</li>
    <li>@Html.ActionLink("Generate Bill", "ShowTenantBills")</li>
</ul>
