@{
    ViewBag.Title = "Tenant Bills";
}

<div class="page-header">
    <h3>Tenant Bills</h3>
</div>

<div id="generatedBillContainer">
    Loading..........
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/moment")
<script src="~/Scripts/react/react.js"></script>
<script src="~/Scripts/react/react-dom.js"></script>

<script src="@Url.Content("~/Scripts/Jsx/DateControl.jsx")"></script>
<script src="@Url.Content("~/Scripts/Jsx/BillList.jsx")"></script>
<script src="@Url.Content("~/Scripts/Jsx/SelectControl.jsx")"></script>
<script src="@Url.Content("~/Scripts/Jsx/GeneratedBill.jsx")"></script>
}