<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
    <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Welcome to Tenant System", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
     
    <div class="horizontal-distance-master-page"></div>

   
<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
    <div class="MainMenu">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Tenant</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Add Tenant", "AddTenant", "Tenant")</li>
                        <li>@Html.ActionLink("Show Tenant Details", "ShowTenants", "Tenant")</li>
                        <li>@Html.ActionLink("Add Tenant Meter Reading", "AddTenantMeterReading", "Tenant")</li>
                        <li>@Html.ActionLink("Add Tenant Payment", "AddTenantPayment", "Tenant")</li>
                        <li>@Html.ActionLink("Approve Bill", "ApproveTenantBills", "Tenant")</li>
                        <li>@Html.ActionLink("View Generated Bill","ViewGeneratedBill", "Tenant")</li>
                        <li>@Html.ActionLink("View Tenant History","ViewTenantHistory", "Tenant")</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Building</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Add Building", "AddBuilding", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Electric Meter</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Add Electric Meter", "AddMeter", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
  <div class="col-sm-9">
     @RenderBody()
  </div>
</div>
        
   
</div>

    <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Tenant  Application</p>
                </div>
            </div>
        </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
