@model TenantSystem.Models.TenantBill

<table class="tenant-bill-template">
    <tr>        
        <td colspan="3">
            @Html.DisplayFor(model=>model.TenantName)
        </td>        
    </tr>
    <tr class="border-tr">
        <td colspan="3">
            Electricity Bill for Month of
        </td>

    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CurrentMonthReading) (@Html.DisplayFor(model => model.CurrentMonthReadingDate))
        </td>
        <td class="arrow"></td>
        <td>
            @Html.DisplayFor(model => model.CurrentMonthReading)
        </td>
    </tr>
    
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.PreviousMonthReading)
        </td>
        <td class="arrow"></td>
        <td>
            @Html.DisplayFor(model => model.PreviousMonthReading)
        </td>
        </tr>

    <tr class="border-tr">
        <td>
            @Html.DisplayNameFor(model => model.CurrentMonthPayableAmount) (Rs @Html.DisplayFor(model => model.PerUnitPrice) Per Unit)
        </td>
        <td class="arrow"></td>
        <td>
            @Html.DisplayFor(model => model.CurrentMonthPayableAmount)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.PreviousMonthPendingAmount)
        </td>
        <td class="arrow"></td>
        <td>
            @Html.DisplayFor(model => model.PreviousMonthPendingAmount)
        </td>
    </tr>
        <tr>
        <td>
            @Html.DisplayNameFor(model => model.LastPaidAmount) in @Html.DisplayFor(model => model.LastPaidAmountDate)
        </td>
        <td class="arrow"></td>
        <td>
            @Html.DisplayFor(model => model.LastPaidAmount)
        </td>
    </tr>
    <tr class="border-tr">
        <td>
            @Html.DisplayNameFor(model => model.TotalPayableAmount)
        </td>
        <td class="arrow"></td>
        <td>
            @Html.DisplayFor(model => model.TotalPayableAmount)
        </td>
    </tr> 
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {

            alert("this is working");

        });
</script>
}

