@model TenantSystem.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


<div class="container-fluid">

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>

    <section id="loginForm">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Log in Form</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.TextBoxFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </li>
                    <li>
                        @Html.PasswordFor(m => m.Password)
                    </li>
                    <li>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </li>
                </ol>
                <p class="button-margin">
                    <input type="submit" class="btn btn-lg btn-primary" value="Log in" />
                </p>
            </fieldset>
            <p>
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>
        }
    </section>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
