@model TenantSystem.Models.Building

@{
    ViewBag.Title = "Add Building Details";
}

<div class="container-fluid">
    <div class="page-header">
        <h3>Add Building</h3>
    </div>

    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Add Building Details</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.NumberOfFloors)
            </div>
            <div>
                @Html.EditorFor(model => model.NumberOfFloors)
                @Html.ValidationMessageFor(model => model.NumberOfFloors)
            </div>
        </fieldset>
        <p class="button-margin">
            <input type="submit" class="btn btn-lg btn-primary" value="Add Building" />
        </p>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}