@{
    ViewBag.Title = "Index";
}

<div>
    Please select the option from the left menu
</div>
@*<h2>Welcome to Tenant Page</h2>*@

<@*div class="MainMenu">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Tenant</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Add Tenant", "AddTenant", "Tenant")</li>
                        <li>@Html.ActionLink("Show Tenant Details", "ShowTenants", "Tenant")</li>
                        <li>@Html.ActionLink("Add Tenant Meter Reading", "AddTenantMeterReading", "Tenant")</li>
                        <li>@Html.ActionLink("Add Tenant Payment", "AddTenantPayment", "Tenant")</li>
                        <li>@Html.ActionLink("Approve Bill", "ApproveTenantBills", "Tenant")</li>
                        <li>@Html.ActionLink("View Generated Bill","ViewGeneratedBill", "Tenant")</li>
                        <li>@Html.ActionLink("View Tenant History","ViewTenantHistory", "Tenant")</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Building</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Add Building", "AddBuilding")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Electric Meter</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Add Electric Meter", "AddMeter")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</@*div>*@