@model IEnumerable<TenantSystem.Models.ElectricMeter>

@{
    ViewBag.Title = "View Meters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Meters</h2>

<p>
    @Html.ActionLink("Create New", "AddMeter")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOccupied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfMeterInstalled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialReading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCurrentMeterReading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentMeterReading)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOccupied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfMeterInstalled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialReading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCurrentMeterReading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentMeterReading)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditMeter", new { id = item.Id }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
